<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <h1>About Dotnet HTTP Server Template</h1>
    <p>Version @Model.Version - simple modular server template</p>
  </body>
</html>
